@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");

/* Chalk font for the announcements view */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

.textlink-color {
    color: #4ba4a8;
    text-decoration: none;
}

.subtext-color {
    color: #868686;
}

/* Nav */
.modalStyle {
    background-color: #1c1c1c;
}

.modal-header {
    border-bottom: none;
}

.text-hide-underline {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.logo {
    opacity: 0;
    transition: opacity 0.5s;
}

.username-style {
    color: #4ba4a8;
}

.gray-text {
    color: #888888;
}

.btn-color {
    background-color: #4ba4a8;
}

.dropdown-menu {
    background: #252525;
}

.create-post-btn {
    background-color: #4ba4a8;
    border-radius: 8px;
    border: none;
}

.sidebar-hero {
    width: 20%;
    height: 100%;
    margin-left: 120px;
}

.post-section {
    width: 60%;
    height: 720px;
    overflow: auto;
}

.sidebar-btn {
    color: #888888;
    background: none;
}
